// Typography
$pm-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$pm-font-ligth: 'Helvetica Neue light', Helvetica, Arial, sans-serif;
$pm-font-black: 'Helvetica Neue black', Helvetica, Arial, sans-serif;

// Media queries
$landscape-up: 1024px;

// Colors
$color-black: #000;
$color-white: #FFF;
$color-background: #EEE;
$color-grey-light: #F5F5F5;
$color-grey-dark: #BDBDBD;
$color-blue: #1D6EFE;