// Typography
$pm-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$pm-font-ligth: 'Helvetica Neue light', Helvetica, Arial, sans-serif;
$pm-font-black: 'Helvetica Neue black', Helvetica, Arial, sans-serif;

// Media queries
$landscape-up: 1024px;

// Colors
$color-black: #1A1A1A;
$color-grey: #E6E6E6;