@import "../components/styles/header";
@import "../components/styles/payment-methods";
@import "../components/styles/payment-info";
@import "../components/styles/footer";
@import "../styles/base.scss";

.payment-method {
  padding: 5vh;
  height: 90vh;
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    "header header"
    "methods info"
    "footer footer";
  @media only screen and (max-width: $landscape-up) {
    background-color: aqua;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "methods"
      "info"
      "footer";
  }
}
