@import "../components/styles/header";
@import "../components/styles/payment-methods";
@import "../components/styles/payment-info";
@import "../components/styles/footer";
@import "../components/styles/payment-card";
@import "../styles/base.scss";

.payment-method {
  padding: 3rem;
  min-height: 90vh;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  background-color: $color-background;
  grid-template-areas:
    "header header"
    "methods info"
    "footer footer";
  @media only screen and (max-width: $landscape-up) {
    padding: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "header"
      "methods"
      "info"
      "footer";
  }
}

button {
  padding: 1em;
  background-color: #fff;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
  @media only screen and (max-width: $landscape-up) {
    min-height: 40px;
  }
}

p {
  margin: 0;
  font-size: 11px;
  font-weight: 700;
}

h1 {
  margin: 0;
  font-size: 27px;
  font-weight: 700;
}

h2 {
  font-size: 17px;
  font-weight: 700;
  margin: 0;
}

h3 {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
}
