.payment-method-footer {
  grid-area: footer;
  width: 100%;
  padding-top: 2rem;
  display: flex;
  justify-content:flex-end;
  align-items:flex-end;
  &__buttons-container {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 30rem;
    @media only screen and (max-width: $landscape-up) {
    justify-content: center;
      width: 100%;
      margin: 3%;
    }
  }
  &__buttons-container button {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0.9rem 2rem;
    font-family: 'Montserrat', sans-serif;
    @media only screen and (max-width: $landscape-up) {
      padding: 0.9rem 1rem;
      margin-left: 1.5rem;
      font-size: 0.5rem;
    }
  }
}

.black-button {
    margin-left: 2rem;
  background-color: black;
  color: $color-white;
}
