@import "../../styles/base.scss";

.payment-method-heder {
  display: flex;
  flex-direction: column;
  grid-area: header;
  border-bottom: 1px solid $color-grey-dark;
  @media only screen and (max-width: $landscape-up) {
    align-items: center;
    justify-content: start;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: $landscape-up) {
      flex-direction: column;
    }
  }
  &__title-container {
    @media only screen and (max-width: $landscape-up) {
    }
  }
  &__buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    @media only screen and (max-width: $landscape-up) {
      width: 100%;
      margin: 3%;

    }
  }
  &__buttons-container button {
    display: inline-block;
    font-size: 12px;
    @media only screen and (max-width: $landscape-up) {
      font-size: 0.6em;
    }
  }
}
