@import "../../styles/base.scss";

.payment-method-heder {
  display: flex;
  flex-direction: column;
  grid-area: header;
  @media only screen and (max-width: $landscape-up) {
    align-items: center;
    justify-content: start;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: $landscape-up) {
      flex-direction: column;
      width: 100%;
    }
  }
  &__title-container {
    @media only screen and (max-width: $landscape-up) {
      font-size: 0.6em;
    }
  }
  &__buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    @media only screen and (max-width: $landscape-up) {
      width: 80%;
      margin-bottom: 3%;

    }
  }
  &__buttons-container button {
    display: inline-block;
    @media only screen and (max-width: $landscape-up) {
      font-size: 0.6em;
    }
  }
  &__h-ruler {
    width: 100%;
    background-color: $color-grey-dark;
    height: 2px;
    @media only screen and (max-width: $landscape-up) {
    }
  }
}
